extends layout

block textEditor
  script(src="/ckeditor/ckeditor.js")
  script.
    // window.onload = function() {
    //   CKEDITOR.replace( 'msgpost',{
    //   });
    // };
block content
  div(id="addStory-page")
    div(class="pageTitle") Nhập Sách Truyện
    - if (typeof(error) != 'undefined')
      div(class="errorText", style="text-align:center") #{error}
    form(action="addStory", method="POST", enctype="multipart/form-data", style="width:90%; margin:auto")
      input(name="chapter-count", id="chapter-count", type="hidden", value="")
      table(id="detailTable", class="detailTable")
        tr
          td(class="detailTableTexts") Tên Truyện:
          td(class="detailTableInputRows")
            input(name="story-title", id="story-title", class="detailTableInputs", type="text", value="")
            button(type="button", onClick="checkStory()") Check
            div(id="check-results")
        tr
          td(class="detailTableTexts") Tác Giả:
          td(class="detailTableInputRows")
            input(name="story-author", id="story-author", class="detailTableInputs", type="text", value="")
        tr
          td(class="detailTableTexts") Thể Loại:
          td(class="detailTableInputRows")
            - each cate, index in storyCates
              input(name="storyCategory", id="storyCategory", type="checkbox", value="#{index}")
              span #{cate}
              br
        tr
          td(class="detailTableTexts") Ảnh Bìa:
          td(class="detailTableInputRows")
            input(name="story-cover", id="story-cover", class="detailTableInputs", type="text", value="")
        tr
          td(class="detailTableTexts") Giới Thiệu:
          td(class="detailTableInputRows")
            textarea(name="story-shortDes", id="story-shortDes", class="detailTableInputs", value="")
      // div(id="chapters-wapper")
      button(type="button", onClick="addMoreChapter()", class="btnAddChapter") Thêm Chương
      br
      br
      input(type="submit", name="submit", value="Save", class="submitButton")
      // span asdsad
      // br
      // textarea(id="msgpost", name="msgpost", class="input-panel")
      
