extends layout

block content
  div(id="listManga-page")
    a(href="/admin?type=story") List Truyện Chữ
    - if (mangas.length > 0)
      table
        tr
          td 
            span(class="row-title") STT
          td
            span(class="row-title") Tên Truyện
          td
            span Tác Giả
        - each manga,i in mangas
          tr
            td #{i}
            td #{manga.title}
            td #{manga.author}