extends layout

block content
  div(id="listUser-page", class="contentPages")
    div(id="button-wrapper")
      a(href="/addUser", class="button_link", id="btnAddUser") Thêm User
    - if (listAdmin.length > 0)
      table(class="listTable")
        tr
          th(class="listTableHeader", style="width:20px")
            span(class="row-title listTableRowSTT") STT
          th(class="listTableHeader")
            span(class="row-title") Danh Sách Admin
            span Cover Link
        - each adminInfo,i in listAdmin
          tr(class="listTableTR")
            td(class="listTableRow listTableRowSTT") #{i}
            td(class="listTableRow listTableRowTitle")
              a(href="/editUser?username=#{adminInfo.username}") #{adminInfo.username}