extends layout

block content
  div(id="contactUs-content")
    div(id="wrapper")
      span Link tải truyện miễn phí: 
      a(href="https://itunes.apple.com/us/app/full-truyen/id718172153?ls=1&mt=8") https://itunes.apple.com/us/app/full-truyen/id718172153?ls=1&mt=8
      br
      br
      span Email: fulltruyen@gmail.com
      br
      br  
      p Tất cả những truyện có trong phần mềm đều được sưu tầm từ nhiều nguồn khác nhau, chúng tôi không chịu bất cứ trách nhiệm nào về vấn đề bản quyền tác giả, nếu bạn có thắc mắc gì về bản quyền tác giả vui lòng cho chúng tôi biết sớm.