<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html
  head
    title= title
    meta(name="viewport", content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;")
    style
      html, body{
        overflow: hidden;
        text-align: center;
      }
  body(style="height: #{height}px; margin:0; padding:0")
    - if (type != 'tablet')
      <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ffulltruyen&amp;width=320&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=517068261714145" scrolling="no" frameborder="0" style="border:none; overflow:hidden; background-color: #fff;" allowTransparency="true"></iframe>
      // <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FTruy%25E1%25BB%2587n-tranh-Truy%25E1%25BB%2587n-ng%25E1%25BA%25AFn-Truy%25E1%25BB%2587n-c%25C6%25B0%25E1%25BB%259Di%2F518980604798172%3Fref%3Dhl&amp;width=320&amp;height=100&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=514307815249030" scrolling="no" frameborder="0" style="border:none; overflow:hidden; background-color: #fff" allowTransparency="true"></iframe>
    - else
      <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ffulltruyen&amp;width=640&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=517068261714145" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:640px; height:290px; background-color: #fff" allowTransparency="true"></iframe>
      // <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FTruy%25E1%25BB%2587n-tranh-Truy%25E1%25BB%2587n-ng%25E1%25BA%25AFn-Truy%25E1%25BB%2587n-c%25C6%25B0%25E1%25BB%259Di%2F518980604798172&amp;width=640&amp;height=200&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;appId=514307815249030" scrolling="no" frameborder="0" style="border:none; ; background-color: #fff; overflow:hidden; width:640px; height:258px;" allowTransparency="true"></iframe>
    
