extends layout

block content
  div(id="homePage")
    div(id="imageSlider")
      div(id="imageSliderWrapper")
        div(class="pages")
          - each story,i in sliderBooks
            - if (i < 6)
              div(class="books")
                div(id="bookCoverWrapper")
                  img(id="bookCover", src="#{story.cover}")
                div(id="bookDetails")
                  a(href="#") #{story.title}
                  span(id="bookAuthor")  - #{story.author}
                  p(id="bookDes") #{story.shortDes}
    div(id="pagingWrapper")
      a(href="#", class="pagingItems")
        img(src="/images/website/btnToStart.png", id="btnToStart", class="pagingImgs")
      a(href="#", class="pagingItems")
        img(src="/images/website/btnPrev.png", id="btnPrev", class="pagingImgs")
      a(href="#", class="pagingItems pagingNumbs") 1
      a(href="#", class="pagingItems pagingNumbs") 2
      a(href="#", class="pagingItems pagingNumbs") 3
      a(href="#", class="pagingItems pagingNumbs") 4
      a(href="#", class="pagingItems pagingNumbs") 5
      a(href="#", class="pagingItems")
        img(src="/images/website/btnNext.png", id="btnNext", class="pagingImgs")
      a(href="#", class="pagingItems")  
        img(src="/images/website/btnToEnd.png", id="btnToEnd", class="pagingImgs")
    div(id="bottomWrapper")
      div(id="bottomLeft")
        div(id="bottomLeftCateWrapper")
          ul(id="bottomLeftCateUl")
            li(class="bottomLeftCateLi")
              a(href="#") MỚI
            li(class="bottomLeftCateLi")
              a(href="#") HOT
            li(class="bottomLeftCateLi")
              a(href="#") FULL
            li(class="bottomLeftCateLi")
              a(href="#") ĐỀ CỬ
      div(id="bottomMiddle")
        div(id="bottomMiddleWrapper")
          div(id="bottomMiddleTitle") ĐIỂM TIN SÁCH
      div(id="bottomRight")
        div(id="foldedTop")
          div(id="foldedTopWrapper")
            div(id="foldedTopTitle") TRÍCH DẪN HAY
        div(id="foldedBottom")
          div(id="foldedBottomWrapper")
            div(id="foldedBottomTitle") GÓC NHỎ TÂM HỒN