doctype 5
html
  head
    title= title
    link(rel="stylesheet/less", type="text/css", href="stylesheets/website.less")
    script(src="javascripts/less.js", type="text/javascript")
    script(src="javascripts/jquery.js", type="text/javascript")
    // script(src="javascripts/button.js", type="text/javascript")
    // script(src="javascripts/haml.js", type="text/javascript")
    // script(src="javascripts/helpers.js", type="text/javascript")
  body
    div(id="header-content")
      div(id="wrapper")
        img(id="logo", src="/images/website/logo.png")
        div(id="title") Full Truyện
    div(id="main-content")
      block content
    div(id="footer-content")
      div(id="wrapper")
        div(id="content")
          div Hỗ trợ: fulltruyen@gmail.com
          div Copyright@2013 Full Truyện
    // div(id="header")
    //   div(id="header-title") Content Management System
    // - if (login != 'true')
    //   div(id="main-panel")
    //     div(id="left-panel")
    //       div(class="left-menu #{productsActive}", id="menu-products")
    //         a(href="manageProducts?page=display&startIndex=0") Sản Phẩm
    //       div(class="left-menu #{servicesActive}", id="menu-services")
    //         a(href="#") Dịch Vụ
    //     div(id="right-panel")
    //       block content
    //     div(class="clear")
