@import 'reset.less';

body {
	position:relative;
	font-family: Helvetica, Arial, sans-serif;
	min-height: 100%;
	background-color: #f1f1f1;
}

html {
  min-height: 100%;
  height: 100%;
}

#header-content {
  width: 900px;
  height: 144px;
  margin: auto;
  background-color: #fff;
  
  #leftPanel {
    float: left;
    width: 288px;
    
    #logo {
      width: auto;
      height: 144px;
    }
  }
  
  #rightPanel {
    float: right;
    height: 100%;
    
    #registerPanel {
      float: right;
      width: 205px;
      height: 40px;
      font-size: 13px;
      background: url('/images/website/backgroundRepeat.png') repeat;
      line-height: 40px;
      text-align: center;
      .rounded-corners(5px);
      border: 1px solid #d9d9d9;
      margin: 11px;
      .box-shadow(0px 2px 3px #E7E7E7);
    }
    
    #searchPanel {
      clear: both;
      width: 405px;
      height: 40px;
      font-size: 13px;
      background: url('/images/website/backgroundRepeat.png') repeat;
      line-height: 40px;
      text-align: center;
      .rounded-corners(5px);
      border: 1px solid #d9d9d9;
      margin: 11px;
      .box-shadow(0px 2px 3px #E7E7E7)
    }
  }
}

#main-content {
  width: 900px;
  margin: auto;
  position: relative;
}

#contactUs-content {
  font-size: 20px;
  
  #wrapper {
    margin-top: 10px;
  }
}

#footer-content {
  position:absolute;
  bottom:0;
  width: 100%;
  background-color: #3a3a3a;
  height: 50px;
  
  #wrapper {
    width: 900px;
    height: 100%;
    margin: auto;
    color: #fff;
    position: relative;
    
    #content {
      width: 100%;
      text-align: center;
    }
  }
}