@import 'reset.less';

body {
	position:relative;
  font-family: Arial, sans-serif;
/*  font-family: 'Roboto', sans-serif;*/
	min-height: 100%;
	background-color: #f1f1f1;
}

html {
  min-height: 100%;
  height: 100%;
}

.searchResultUL {
  height: 460px;
  overflow: scroll;
  margin-top: 24px;
  padding: 5px;
  background-color: #e1e0e2;
  .box-shadow(0px 2px 5px #848384);
/*  border: 1px solid #848384;*/
  .rounded-corners-bottom(7px);
}

.searchResultRows {
  padding: 7px 0;
  border-bottom: 1px solid #fff;
  
  .rowTitle {
    font-size: 1.15em;
    font-weight: bold;
  }
  .rowAuthor {
    font-style: italic;
    margin-top: 3px;
  }
}
.searchResultRows:hover {
  background-color: #b0afb1;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  display: none;
}

#header-content {
  width: 900px;
  height: 144px;
  margin: auto;
  background-color: #fff;
  
  #leftPanel {
    float: left;
    width: 288px;
    
    #logo {
      width: auto;
      height: 144px;
    }
  }
  
  #rightPanel {
    float: right;
    height: 100%;
    
    #registerPanel {
      float: right;
      width: 205px;
      height: 40px;
      font-size: 13px;
      background: url('/images/website/backgroundRepeat.png') repeat;
      line-height: 40px;
      text-align: center;
      .rounded-corners(5px);
      border: 1px solid #d9d9d9;
      margin: 11px;
      .box-shadow(0px 2px 3px #E7E7E7);
    }
    
    #searchPanel {
      clear: both;
      width: 405px;
      height: 45px;
      font-size: 13px;
      background: url('/images/website/backgroundRepeat.png') repeat;
      line-height: 40px;
      .rounded-corners(5px);
      border: 1px solid #d9d9d9;
      margin: 11px;
      .box-shadow(0px 2px 3px #E7E7E7);
      
      #searchInput {
        float: left;
      }
      
      #styledSelect {
        width: 100px;
        height: 31px;
        overflow: hidden;
        background: url('/images/website/downArrow.png') no-repeat right #ddd;
        background-color: rgba(216, 217, 216, 0.7);
        
        border: 1px solid white; 
        margin-top: 6px;
        margin-left: 5px;
        float: left;
           
        select {
          background: transparent;
          width: 100px;
          padding: 5px;
          font-size: 1em;
          line-height: 1;
          border: 0;
          border-radius: 0;
          height: 100%;
          -webkit-appearance: none;
        }
      }
      
      #searchButton {
        background-image: url('/images/website/icon-Search.png');
        width: 18px;
        height: 24px;
        float: left;
        margin-left: 13px;
        margin-top: 10px;
      }
    }
  }
}

input[type=search] {
  border: 1px solid white; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 8px 0;
  background: rgba(216, 217, 216, 0.7);
  margin: 5px 0px 0 5px;
  .rounded-corners(3px);
  width: 250px;
  font-size: 1.1em;
}

#category-content {
  width: 900px;
  height: 80px;
  margin: auto;
  position: relative;
  background: url('/images/website/backgroundRepeatGray.png') repeat;
  
  
  #categoryUl, #categoryUl li{
    border: none;
    outline: none;
  }
  
  #categoryUl {
    clear: both;
    width: 880px;
    height: 50px;
    background: url('/images/website/backgroundRepeat.png') repeat;
    .rounded-corners(5px);
    border: 1px solid #d9d9d9;
    margin: auto;
    position: relative;
    top: 10px;
    .box-shadow(0px 2px 3px #9A9A9A)
  }
  
  .mainCates {
    list-style: none;
    float: left;
    height: 80px;
/*    margin-top: 30px;*/
    background: url('/images/website/separateLine.png') no-repeat top right;

    #iconHome {
      margin-right: 7px;
      margin-left: -5px;
    }
    
    #homeCate {
      padding: 16px 20px;
    }
    
    .a-mainCates {
      display: block;
      padding: 18px 20px;
/*      margin-top: 1px;*/
      text-decoration: none;
      font-family: "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
/*      font-weight: bold;*/
      font-size: 16px;
/*      color: #218bca;*/
      color: #000;
/*      text-shadow: 0px 1px 1px rgba(0,0,0,.5);*/
      -webkit-transition: background-color 0.5s ease-in-out;
      -moz-transition: background-color 0.5s ease-in-out;
      -o-transition: background-color 0.5s ease-in-out;
      -ms-transition: background-color 0.5s ease-in-out;
      transition: background-color 0.5s ease-in-out;
    }
    
    .subCategory {
      z-index: 10;
      position: relative;
      width: 100%;
      top: 3px;
      left: -1px;
/*      left: 142px;*/
      opacity: 0;
      display: none;
      background: url('/images/website/backgroundRepeatGray.png') repeat;
      .rounded-corners-bottom-left(10px);
      .rounded-corners-bottom-right(10px);
      .box-shadow(inset 0 0 3px #99989a);
      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;

      .subCates:hover > a {
        color: #fff;
        text-shadow: 0px 1px 2px rgba(0,0,0,1);
        background-color: #ff4c4c;
        /* IE10 Consumer Preview */ 
        background-image: -ms-linear-gradient(top, #FF0000 0%, #B00000 100%);

        /* Mozilla Firefox */ 
        background-image: -moz-linear-gradient(top, #FF0000 0%, #B00000 100%);

        /* Opera */ 
        background-image: -o-linear-gradient(top, #FF0000 0%, #B00000 100%);

        /* Webkit (Safari/Chrome 10) */ 
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF0000), color-stop(1, #B00000));

        /* Webkit (Chrome 11+) */ 
        background-image: -webkit-linear-gradient(top, #FF0000 0%, #B00000 100%);

        /* W3C Markup, IE10 Release Preview */ 
        background-image: linear-gradient(to bottom, #FF0000 0%, #B00000 100%);
      }
      
      .subCates {
        overflow: hidden;
/*        float: left;*/
        position: relative;
        -webkit-transition: height .25s ease .1s;
        -moz-transition: height .25s ease .1s;
        -o-transition: height .25s ease .1s;
        -ms-transition: height .25s ease .1s;
        transition: height .25s ease .1s;
        
        .a-subCates {
          display: block;
          padding: 10px 10px;
          text-decoration: none;
/*          font-family: Helvetica, Arial, sans-serif;*/
/*          font-weight: bold;*/
          font-size: 16px;
          color: #000;
          text-align: center;
/*          text-shadow: 0px 1px 1px #a3c98b;*/

          -webkit-transition: background-color .1s ease-in-out;
          -moz-transition: background-color .1s ease-in-out;
          -o-transition: background-color .1s ease-in-out;
          -ms-transition: background-color .1s ease-in-out;
          transition: background-color .1s ease-in-out;
        }
      }
    }
  }
  .mainCates:last-child { background: none; }
  .mainCates:hover > a {
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0,0,0,1);
    background-color: #ff4c4c;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #FF0000 0%, #B00000 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FF0000 0%, #B00000 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #FF0000 0%, #B00000 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF0000), color-stop(1, #B00000));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FF0000 0%, #B00000 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #FF0000 0%, #B00000 100%);
  }
  .mainCates:hover > ul { opacity: 1; display: block; }
  .mainCates:hover > ul li {
    overflow: visible;
  }
}

#fbFanPage {
  position: absolute;
  bottom: -50px;
  right: -300px;
}

#homePage {
  width: 100%;
  
  #imageSlider {
    width: 830px;
    height: 350px;
    background: url('/images/website/backgroundRepeatGray.png') repeat;
    margin: 20px auto 0 auto;
    position: relative;
    .rounded-corners(8px);
    -moz-box-shadow:inset 0px 4px 16px #c2bfbd;
    -webkit-box-shadow:inset 0px 4px 16px #c2bfbd;
    box-shadow:inset 0px 4px 16px #c2bfbd;
    
    #imageSliderWrapper {
      
      .pages {
        position: absolute;
        display: none;
        
        .books {
          width: 250px;
          height: 151px;
          background: url('/images/website/box.png') no-repeat;
          margin-top: 16px;
          margin-left: 20px;
          position: relative;
          float: left;
          
          #bookCoverWrapper {
            float: left;
            width: 88px;
            height: 130px;
            margin: 11px 9px 0 11px;
            .box-shadow(0px 1px 1px #8a898b);
            
            #bookCover {
              width: 100%;
              height: 100%;
            }
          }
          #bookDetails {
            margin-top: 10px;
            margin-right: 9px;
           
            #bookAuthor {
              font-size: 14px;
              color: #808080;
            }
          }
          #bookDetails a {
            text-decoration: none;
            color: #3179ba;
            line-height: 18px;
          }
        }
      }
      .pages:after { content: " "; display: block; clear: both;}
      .pages:first-child { display: block;}
    }
  }
  
  #bottomWrapper {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    
    #bottomLeft {
      width: 330px;
      height: 509px;
      float: left;
      background: url('/images/website/bottomLeftBg.png') no-repeat;
      margin-right: 9px;
      margin-left: 27px;
      overflow: hidden;
      
      #bottomLeftContent {
        width: 300px;
        margin: auto;
        
        .bookContents:last-child {
          border-bottom: none;
        }
        
        .bookContents {
          margin: 6px 0;
          height: 39px;
          border-bottom: 1px solid #a7d2e2;
          font-size: 0.9em;
          
          a {
            text-decoration: none;
            color: #383d41;
          }
          
          a:hover {
            color: black;
            font-weight: bold;
          }
        }
      }
      
      #bottomLeftCateWrapper {
        width: 324px;
        .rounded-corners(7px);
        border: 1px solid #bdbcbe;
        margin-left: 3px;
        
        #bottomLeftCateUl {
          font-size: 0.95em;
          overflow: hidden;
          width: 322px;
          height: 33px;
          .rounded-corners(7px);
          border: 1px solid white;
          /* IE10 Consumer Preview */ 
          background-image: -ms-linear-gradient(top, #1EB1F9 0%, #0083BF 100%);

          /* Mozilla Firefox */ 
          background-image: -moz-linear-gradient(top, #1EB1F9 0%, #0083BF 100%);

          /* Opera */ 
          background-image: -o-linear-gradient(top, #1EB1F9 0%, #0083BF 100%);

          /* Webkit (Safari/Chrome 10) */ 
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1EB1F9), color-stop(1, #0083BF));

          /* Webkit (Chrome 11+) */ 
          background-image: -webkit-linear-gradient(top, #1EB1F9 0%, #0083BF 100%);

          /* W3C Markup, IE10 Release Preview */ 
          background-image: linear-gradient(to bottom, #1EB1F9 0%, #0083BF 100%);
          
          .bottomLeftCateLi {
            width: 80px;
            height: 100%;
            border-right: 1px solid white;
            float: left;
            text-align: center;
            line-height: 34px;
          }
          .bottomLeftCateLi:last-child { 
            border-right: none; 
            width: 79px;
            .rounded-corners-right(6px);
          }
          .bottomLeftCateLi:first-child { 
            .rounded-corners-left(6px);
          }
          .bottomLeftCateLiActive, .bottomLeftCateLi:hover {
            /* IE10 Consumer Preview */ 
            background-image: -ms-linear-gradient(top, #8BDBFD 0%, #18BDF0 100%);

            /* Mozilla Firefox */ 
            background-image: -moz-linear-gradient(top, #8BDBFD 0%, #18BDF0 100%);

            /* Opera */ 
            background-image: -o-linear-gradient(top, #8BDBFD 0%, #18BDF0 100%);

            /* Webkit (Safari/Chrome 10) */ 
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8BDBFD), color-stop(1, #18BDF0));

            /* Webkit (Chrome 11+) */ 
            background-image: -webkit-linear-gradient(top, #8BDBFD 0%, #18BDF0 100%);

            /* W3C Markup, IE10 Release Preview */ 
            background-image: linear-gradient(to bottom, #8BDBFD 0%, #18BDF0 100%);
            cursor: pointer;
          }
          .bottomLeftCateLiActive span, .bottomLeftCateLi:hover > span {
            color: black;
            text-shadow: none;
          }
          span {
            color : #fff;
            text-decoration: none;
            text-shadow: 0px 1px 1px rgba(0,0,0,1);
          }
        }
      }
    }
    
    #bottomMiddle {
      width: 293px;
      height: 506px;
      float: left;
      background: url('/images/website/bottomMiddleBg.png') no-repeat;
      margin-right: 9px;
      margin-top: 3px;
      
      #bottomMiddleWrapper {
        width: 285px;
        .rounded-corners(7px);
        border: 1px solid #bdbcbe;
        margin-left: 3px;
        margin-top: -3px;
        
        #bottomMiddleTitle {
          height: 33px;
          .rounded-corners(7px);
          border: 1px solid white;
          /* IE10 Consumer Preview */ 
          background-image: -ms-linear-gradient(top, #6CBD22 0%, #338E17 100%);

          /* Mozilla Firefox */ 
          background-image: -moz-linear-gradient(top, #6CBD22 0%, #338E17 100%);

          /* Opera */ 
          background-image: -o-linear-gradient(top, #6CBD22 0%, #338E17 100%);

          /* Webkit (Safari/Chrome 10) */ 
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6CBD22), color-stop(1, #338E17));

          /* Webkit (Chrome 11+) */ 
          background-image: -webkit-linear-gradient(top, #6CBD22 0%, #338E17 100%);

          /* W3C Markup, IE10 Release Preview */ 
          background-image: linear-gradient(to bottom, #6CBD22 0%, #338E17 100%);
          
          #text {
            color : #fff;
            text-shadow: 0px 1px 1px rgba(0,0,0,1);
            text-align: center;
            line-height: 34px;
          }
          
          #newsUL {
            
            .newsContents:last-child {
              border-bottom: none;
            }
            
            .newsContents {
              text-align: left;
              line-height: 120%;
              border-bottom: 1px solid #b7e4b7;
              margin: 0 5px;
              height: 39px;
              margin-top: 6px;
              font-size: 0.9em;
              
              a {
                color: black;
                text-decoration: none;
              }
              
              a:hover {
                text-decoration: underline;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    
    #bottomRight {
      width: 198px;
      height: 509px;
      float: left;
      
      #foldedTop {
        width: 100%;
        height: 258px;
        background: url('/images/website/foldedBgOrange.png') no-repeat;
        margin-top: 4px;
        
        #foldedTopWrapper {
          width: 196px;
          .rounded-corners(7px);
          border: 1px solid #bdbcbe;
          margin-left: 3px;
          margin-top: -3px;

          #foldedTopTitle {
            color : #fff;
            text-shadow: 0px 1px 1px rgba(0,0,0,1);
            text-align: center;
            line-height: 34px;
            height: 33px;
            .rounded-corners(7px);
            border: 1px solid white;
            /* IE10 Consumer Preview */ 
            background-image: -ms-linear-gradient(top, #FC8424 0%, #E94523 100%);

            /* Mozilla Firefox */ 
            background-image: -moz-linear-gradient(top, #FC8424 0%, #E94523 100%);

            /* Opera */ 
            background-image: -o-linear-gradient(top, #FC8424 0%, #E94523 100%);

            /* Webkit (Safari/Chrome 10) */ 
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FC8424), color-stop(1, #E94523));

            /* Webkit (Chrome 11+) */ 
            background-image: -webkit-linear-gradient(top, #FC8424 0%, #E94523 100%);

            /* W3C Markup, IE10 Release Preview */ 
            background-image: linear-gradient(to bottom, #FC8424 0%, #E94523 100%);
          }
        }
      }
      
      #foldedBottom {
        width: 100%;
        height: 221px;
        background: url('/images/website/foldedBgRed.png') no-repeat;
        margin-top: 26px;
        
        #foldedBottomWrapper {
          width: 196px;
          .rounded-corners(7px);
          border: 1px solid #bdbcbe;
          margin-left: 3px;
          margin-top: -3px;

          #foldedBottomTitle {
            color : #fff;
            text-shadow: 0px 1px 1px rgba(0,0,0,1);
            text-align: center;
            line-height: 34px;
            height: 33px;
            .rounded-corners(7px);
            border: 1px solid white;
            /* IE10 Consumer Preview */ 
            background-image: -ms-linear-gradient(top, #E30B1C 0%, #A40610 100%);

            /* Mozilla Firefox */ 
            background-image: -moz-linear-gradient(top, #E30B1C 0%, #A40610 100%);

            /* Opera */ 
            background-image: -o-linear-gradient(top, #E30B1C 0%, #A40610 100%);

            /* Webkit (Safari/Chrome 10) */ 
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E30B1C), color-stop(1, #A40610));

            /* Webkit (Chrome 11+) */ 
            background-image: -webkit-linear-gradient(top, #E30B1C 0%, #A40610 100%);

            /* W3C Markup, IE10 Release Preview */ 
            background-image: linear-gradient(to bottom, #E30B1C 0%, #A40610 100%);
          }
        }
      }
    }
  }
  #bottomWrapper:after { content: " "; display: block; clear: both;}
}

.pagingWrapper {
  text-align: center;
  width: 100%;
  margin: 15px 0;
  
  .pagingItems {
    display: inline-block;
  }
  .pagingNumbs {
    border: 1px solid #d7d7d7;
    vertical-align: middle;
    line-height: 23px;
    text-decoration: none;
    width: 20px;
    height: 20px;
    font-size: 14px;
    margin: 0 5px;
    color: #8d8d8e;
  }
  .pagingNumbs:hover {
    background-color: floralwhite;
    cursor: pointer;
  }
  .active {
    background-color: floralwhite;
  }
  .pagingImgs {
    margin: 0 5px;
    width: 26px;
    height: 27px;
    vertical-align: middle;
  }
  .pagingImgs:hover {
    cursor: pointer;
  }
}

.listContent {
  position: relative;
  width: 700px;
  float: left;
  
  .listTable {
/*    table-layout: fixed;*/
    border-collapse: separate;
    border-spacing: 0;
    width: 690px;
    margin: 5px;
    top: 5px;
    position: relative;
    
    .link-row-title {
      color: #fff;
      cursor: pointer;
      text-align: center;
  /*    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);*/
    }
    .order-img-row-title {
      vertical-align: middle;
    }
    .listTableHeader {
      /* IE10 Consumer Preview */ 
      background-image: -ms-linear-gradient(top, #6FBF23 0%, #378C17 100%);

      /* Mozilla Firefox */ 
      background-image: -moz-linear-gradient(top, #6FBF23 0%, #378C17 100%);

      /* Opera */ 
      background-image: -o-linear-gradient(top, #6FBF23 0%, #378C17 100%);

      /* Webkit (Safari/Chrome 10) */ 
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6FBF23), color-stop(1, #378C17));

      /* Webkit (Chrome 11+) */ 
      background-image: -webkit-linear-gradient(top, #6FBF23 0%, #378C17 100%);

      /* W3C Markup, IE10 Release Preview */ 
      background-image: linear-gradient(to bottom, #6FBF23 0%, #378C17 100%);
      border-right: 1px solid gray;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      color: #fff;
  /*    cursor: pointer;*/
      padding: 3px 0 3px 0;
      text-align: center;
      font-size: 15px;
    }
    .listTableHeader:first-child {
      .rounded-corners-left(7px);
      border-left: 2px solid #fff;
    }
    .listTableHeader:last-child {
      .rounded-corners-right(7px);
      border-right: 2px solid #fff;
    }
    .listTableHeader a {
      text-decoration: none;
    }
    .listTableRow {
      border-right: 1px solid #c1c0c2;
    }
    .listTableRow:last-child {
      border-right: none;
    }
    .listTableTR:nth-child(odd) {
      background-color: rgba(190, 219, 163, 0.7);
    }
    .listTableRowSTT, .listTableRowNumView {
      text-align: center;
      padding: 7px 5px;
    }
    .listTableRowTitle, .listTableRowAuthor {
      text-align: left;
      padding: 7px 5px;
      overflow-wrap: break-word;
      vertical-align: middle;
      
      span {
        color: #2795bf;
      }
      
      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.75);
        font-weight: bold;
      }
      
      a:hover {
        color: black;
        text-decoration: underline;
      }
    }
    .listTableRowCoverLink {
      text-align: left;
      padding: 7px 5px;
      overflow: hidden;
    }
    .listTableRowButtons {
      text-align: center;
    }
    input{
      width: 95%;
    }
  }
}

.categoryContent {
/*  float: left;*/
  position: absolute;
  right: -140px;
  width: 140px;
  background: url('/images/website/listStoryRepeatBg.png') repeat;
  .rounded-corners-right(7px);
  margin-top: 53px;
  
  #cateTitle {
    color: #000;
    text-align: center;
    font-size: 15px;
    padding: 8px 0;
    font-weight: bold;
  }
  
  .cateTypes {
    text-align: center;
    padding: 6px 0;
    background: #7cc42f;
    margin: 2px 5px;
    color: black;
  }
  
  .cateTypes:hover {
    background: #A0E953;
    color: rgba(0, 0, 0, 0.75);
  }
  
  a {
    text-decoration: none;
  }
}

#listStoryPage {
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 15px;
  
  #listStoryContent {
    background: url('/images/website/listStoryRepeatBg.png') repeat;
    .rounded-corners(7px);
    width: 100%;
    
    .listTable {
      width: 890px;
    }
  } 
  
  #listStoryPagingWrapper {
    clear: both;
    width: 100%;
    position: relative;
    top: 8px;
    
    .pagingNumbs {
      color: black;
    }
    
    a {
      text-decoration: none;
      color: black;
    }
  }
}

#newsReadingPage {
    width: 840px;
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Times New Roman",Times,serif;
    font-size: 20px;

    #bottomPage {
      width: 100%;
      padding: 10px;
      clear: both;
      float: left;
      .rounded-corners(8px);
      -moz-box-shadow:inset 0px 1px 20px #e2e0da;
      -webkit-box-shadow:inset 0px 1px 20px #e2e0da;
      box-shadow:inset 0px 1px 20px #e2e0da;
      background: url('/images/website/backgroundRepeat2.png') repeat;

      #commentTitle {
        margin-bottom: 10px;
        font-size: 1.1em;
        font-weight: bold;
      }

      .fbLikeChapters {
        margin-bottom: 10px;
      }
    }
    
    #newsContent {
      float: left;
      width: 550px;
      
      #newsDatePost {
        font-size: 0.8em;
      }
      
      #newsTitle {
        font-size: 1.3em;
/*        font-weight: bold;*/
        margin-top: 10px;
      }
      
      #newsShortDes {
        font-size: 0.9em;
        color: gray;
        margin: 5px 0;
      }
      
      #newsMainContent {
        font-size: 0.95em;
        
        p {
          margin: 0.5em 0;
          line-height: 150%;
        }
      }
      
      #otherNews {

        #text {
          font-weight: bold;
          font-size: 0.9em;
          margin: 30px 0 3px 0;
          color: rgb(116, 116, 116);
        }
        
        .otherNewsLinks {
          font-size: 0.9em;
          color: #1b769a;
          
          a {
            text-decoration: none;
            color: #1b769a;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .fbLikeChapters {
      margin-top: 10px;
    }

    #suggestContainer {
      float: left;
      width: 265px;
      margin-left: 20px;
      margin-bottom: 15px;
      
      #fbFanPage {
        margin-top: 5px;
      }
      
      #suggestWrapper {
        .rounded-corners(8px);
        border: 1px solid #eceae5;
        
        #text {
          margin: 10px 10px 0 10px;
          padding-bottom: 7px;
          border-bottom: 1px solid #e6e4df;
        }
        
        .suggestBooks {
          margin: 0 10px;
          border-bottom: 1px solid #e6e4df;
          padding: 8px 0 8px 0;
          
          .bookCovers {
            width: 52px;
            height: 70px;
            border: 1px solid rgb(207, 207, 207);
            float: left;
          }
          
          .bookDetails {
            margin: 0 4px;
            float: left;
            width: 180px;
            
            a {
              color: #1b769a;
              text-decoration: none;
            }
            
            a:hover {
              text-decoration: underline;
            }
            
            .bookView {
              font-size: 0.8em;
              color: #9399ac;
            }
          }
        }
        .suggestBooks:last-child {
          border-bottom: none;
        }
      }
    }
}

#storyReadingPage {
  width: 840px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Times New Roman",Times,serif;
  font-size: 20px;
  
  #changeChapterWrap {
    margin-bottom: 30px;
    
    #tableContent {
      width: 100%;
      table-layout: fixed;
      
      #colum1 {
        text-align: left;
      }
      #colum2 {
        text-align: right;
      }
      .buttons {
        width: 50px;
      }
      .colums {
        vertical-align: middle;
        
        a {
          text-decoration: none;
          color: #3571bd;
        }
        a:hover {
          color: #4d9b95;
        }
      }
      .nextImages {
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  
  #bottomPage {
    width: 100%;
    padding: 10px;
    clear: both;
    float: left;
    .rounded-corners(8px);
    -moz-box-shadow:inset 0px 1px 20px #e2e0da;
    -webkit-box-shadow:inset 0px 1px 20px #e2e0da;
    box-shadow:inset 0px 1px 20px #e2e0da;
    background: url('/images/website/backgroundRepeat2.png') repeat;
    
    #commentTitle {
      margin-bottom: 10px;
      font-size: 1.1em;
      font-weight: bold;
    }
    
    .fbLikeChapters {
      margin-bottom: 10px;
    }
  }
  
  #chapterTitle {
    font-size: 1.7em;
    font-weight: bold;
  }
  
  .fbLikeChapters {
    margin-top: 10px;
  }
  
  p {
/*    padding: 8px 0;*/
    margin: 1em 0;
    line-height: 150%;
  }
}

#newsPage {
  width: 840px;
  position: relative;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  
  #newsCates {
    float: left;
    width: 100%;
    
    .newsCate {
      float: left;
      background-color: #bfbfbf;
      margin: 0 5px;
      padding: 10px 5px;
      width: 120px;
      text-align: center;
      .rounded-corners(7px);
    }
    
    a {
      color: black;
    }
    
    .cateActive {
      background-color: red;
    }
    .cateActive a {
      color: white;
    }
    .newsCate:hover {
      background-color: red;
    }
    .newsCate:hover > a{
      color: white;
    }
    .newsCate a {
      text-decoration: none;
    }
  }
  
  #line {
    width: 830px;
    height: 1px;
    border-bottom: 1px solid black;
    float: left;
    margin-bottom: 11px;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #pagingContent {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    
    #wrapper {
      width: 818px;
      margin-left: 18px;

      .dailyNews {
        width: 100%;
        float: left;
        margin-bottom: 15px;
        
        .newsCover {
          width: 251px;
          height: 114px;
          background: url('/images/website/newsBookBgSmall.png');
          float: left;

          img {
            width: 208px;
            height: 99px;
            margin-top: 7px;
            margin-left: 28px;
            .rounded-corners(5px);
          }
        }
        .newsRightContent {
          float: left;
          width: 539px;
          margin-left: 15px;
          height: 114px;
          
          .newsRightDatePost {
            font-size: 0.8em;
            font-style: italic;
            margin: 2px 0;
          }
          
          .newsRightTitle {
            font-size: 1.15em;
            font-weight: bold;
            
            a {
              color: black;
              text-decoration: none;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    
  }
  
  #topNewsWrapper {
    float: left;
    width: 100%;
    height: 498px;
    margin-top: 15px;
    background: url('/images/website/newsTransBg.png');
    
    #bottomPanel {
      clear: both;
      
      .newsContents {
        width: 255px;
        height: 155px;
        float: left;
        margin-left: 20px;
        margin-top: 10px;
        
        .newsCover {
          width: 251px;
          height: 114px;
          background: url('/images/website/newsBookBgSmall.png');
          float: left;
          
          img {
            width: 208px;
            height: 99px;
            margin-top: 7px;
            margin-left: 28px;
            .rounded-corners(5px);
          }
        }
        .smallBookNewsTitles {
          width: 255px;
          height: 45px;
          float: left;
          margin-top: 4px;
          font-size: 1em;
          font-weight: bold;
          color: black;
        }
        .smallBookNewsTitles:hover {
          text-decoration: underline;
        }
      }
    }
    
    #topPanel {
      margin: 18px 20px;
      width: 100%;
      
      #rightContent {
        float: left;
        margin-left: 20px;
        width: 439px;
        
        #text {
          font-size: 1.3em;
          font-weight: lighter;
        }
        
        #listNews {
          list-style-type:disc;
          margin-left: 20px;
          
          .newsContent {
            height: 62px;
            margin-top: 7px;
            
            .newsTitle {
              text-decoration: none;
              color: black;
              font-weight: bold;
              font-size: 1em;
            }
            .newsTitle:hover {
              text-decoration: underline;
            }
            .newsShortDes {
              margin-top: 2px;
              font-style: italic;
            }
          }
        }
      }
      
      #bigBook {
        background: url('/images/website/newsBookBg.png');
        width: 338px;
        height: 294px;
        float: left;
        
        a {
          text-decoration: none;
          color: white;
        }
        
        a:hover {
          text-decoration: underline;
        }
        
        #bigBookTitle {
          width: 284px;
          float: left;
          text-align: center;
          margin-left: 35px;
          margin-top: 4px;
          height: 36px;
          overflow: hidden;
          font-size: 1.1em;
          color: white;
        }
        
        #imgCropWrapper {
        	overflow: hidden;
        	width: 282px;
        	height: 234px;
          margin-top: 12px;
          float: left;
          margin-left: 37px;
          .rounded-corners(5px);
        } 
        #imgCropWrapper:before,
        #imgCropWrapper img {
          display: inline-block;
        	vertical-align: middle;
        }
        #imgCropWrapper:before{
        	content: "";
        	padding-top: 75%;
        }
        #imgCropWrapper img {
          width: 300px;
        	padding-left: 100%;
        	margin: -999em -100%;
        }
      }
    }
    
  }
}

#storyPage {
  width: 840px;
  position: relative;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  
  #bottomPage {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    clear: both;
    float: left;
    .rounded-corners(8px);
    -moz-box-shadow:inset 0px 1px 20px #e2e0da;
    -webkit-box-shadow:inset 0px 1px 20px #e2e0da;
    box-shadow:inset 0px 1px 20px #e2e0da;
    background: url('/images/website/backgroundRepeat2.png') repeat;
    
    #commentTitle {
      margin-bottom: 10px;
      font-size: 1.2em;
      font-weight: bold;
    }
    
    .fbLikeChapters {
      margin-bottom: 10px;
    }
  }
  
  #topPage {
    width: 100%;
    
    #storyDetailContainer {
      width: 550px;
      float: left;
      
      #storyInfo {
        height: 580px;
        .rounded-corners(8px);
        -moz-box-shadow:inset 0px 1px 20px #e2e0da;
        -webkit-box-shadow:inset 0px 1px 20px #e2e0da;
        box-shadow:inset 0px 1px 20px #e2e0da;
        background: url('/images/website/backgroundRepeat2.png') repeat;
        overflow: hidden;
        
        #titleText {
          padding: 15px;
          font-size: 19px;
        }
        
        #infoWrapper {
          position: relative;
          margin: 0 15px;
          
          #leftPart {
            float: left;
            #storyCover {
              width: 120px;
              height: auto;
              .box-shadow(1px 1px 2px #8a898b);
            }
          }
          #middlePart {
            float: left;
            margin-left: 20px;
            
            #middleTable {
              width: 375px;
              table-layout: fixed;
              
              #storyTitle {
                color: #34a159;
                font-size: 21px;
                padding-bottom: 15px;
                text-shadow: 0px 1px 1px rgba(0,0,0, .75);
              }
              
              #btnStoryReading {
                text-decoration: none;
                float: right;
                cursor: pointer; /*forces the cursor to change to a hand when the button is hovered*/
                padding: 8px 12px; /*add some padding to the inside of the button*/
                border: 1px solid white; /*required or the default border for the browser will appear*/
                /*give the button curved corners, alter the size as required*/
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px;
                /*give the button a drop shadow*/
                -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
                -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
                box-shadow: 0 0 4px rgba(0,0,0, .75);
                /*style the text*/
                color:#f3f3f3;
                font-size:1.3em;
                line-height: 25px;
                /* IE10 Consumer Preview */ 
                background-image: -ms-linear-gradient(top, #6DBE22 0%, #328C16 100%);

                /* Mozilla Firefox */ 
                background-image: -moz-linear-gradient(top, #6DBE22 0%, #328C16 100%);

                /* Opera */ 
                background-image: -o-linear-gradient(top, #6DBE22 0%, #328C16 100%);

                /* Webkit (Safari/Chrome 10) */ 
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6DBE22), color-stop(1, #328C16));

                /* Webkit (Chrome 11+) */ 
                background-image: -webkit-linear-gradient(top, #6DBE22 0%, #328C16 100%);

                /* W3C Markup, IE10 Release Preview */ 
                background-image: linear-gradient(to bottom, #6DBE22 0%, #328C16 100%);
              }
              #btnStoryReading:hover {
/*                background: #2FA06A;*/
                /* IE10 Consumer Preview */ 
                background-image: -ms-linear-gradient(top, #7EDB27 0%, #42BA1D 100%);

                /* Mozilla Firefox */ 
                background-image: -moz-linear-gradient(top, #7EDB27 0%, #42BA1D 100%);

                /* Opera */ 
                background-image: -o-linear-gradient(top, #7EDB27 0%, #42BA1D 100%);

                /* Webkit (Safari/Chrome 10) */ 
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7EDB27), color-stop(1, #42BA1D));

                /* Webkit (Chrome 11+) */ 
                background-image: -webkit-linear-gradient(top, #7EDB27 0%, #42BA1D 100%);

                /* W3C Markup, IE10 Release Preview */ 
                background-image: linear-gradient(to bottom, #7EDB27 0%, #42BA1D 100%);
              }
            }
          }
          #rightPart {
            float: left;
            margin-left: 10px;
            
            #rightTable {
              width: 170px;
              table-layout: fixed;
              font-size: 0.95em;
            }
          }
          
          .detailRows {
            padding-bottom: 3px;
          }
        }
      }
      
      #socialWrapper {
        margin: 0 15px;
        margin-top: 6px;
        
        .socialGap {
          height: 20px;
          float: left;
          width: 1px;
        }
        
        .fbLikeChapters {
          float: left;
        }
      }
      
      #newestText {
        font-weight: bold;
        margin: 15px;
        font-size: 1.05em;
      }
      
      #newestChapters {
        margin: 15px;
      }
      
      .newestChapterLinks {
        padding: 3px 0;
        
        a {
          color: black;
        }
        
        a:hover {
          color: rgba(0, 0, 0, 0.75);
          font-weight: bold;
        }
      }
      
      #shortDesWrapper {
        margin: 15px;
        line-height: 117%;
        font-style: italic;
        height: 110px;
        
        .readmore {
          color: gray;
        }
        
        #text {
          color: #34a159;
          font-size: 1.2em;
          text-shadow: 0px 1px 1px rgba(0,0,0, .5);
        }
      }
      
      #storyChapters {
        height: 395px;
        .rounded-corners(8px);
        -moz-box-shadow:inset 0px 1px 20px #e2e0da;
        -webkit-box-shadow:inset 0px 1px 20px #e2e0da;
        box-shadow:inset 0px 1px 20px #e2e0da;
        background: url('/images/website/backgroundRepeat2.png') repeat;
        margin-top: 20px;
        
        #readingText {
          font-weight: bold;
          padding: 15px;
          font-size: 1.05em;
        }
        
        #searchChapterInput {
          margin: 0 15px;
          width: 94%;
          padding: 7px 0;
          font-size: 0.9em;
        }
        
        #chaptersWrapper {
          margin: 15px;
          overflow:scroll;
          height: 267px;
          margin-top: 10px;
          
          .newestChapterLinks {
            padding: 3px 0;

            a {
              color: black;
            }

            a:hover {
              color: rgba(0, 0, 0, 0.75);
              font-weight: bold;
            }
          }
        }
      }
    }
    
    #suggestContainer {
      float: left;
      width: 265px;
      margin-left: 20px;
      
      #fbFanPage {
        margin-top: 5px;
      }
      
      #suggestWrapper {
        height: 745px;
        .rounded-corners(8px);
        border: 1px solid #eceae5;
        
        #text {
          margin: 10px 10px 0 10px;
          padding-bottom: 7px;
          border-bottom: 1px solid #e6e4df;
        }
        
        .suggestBooks {
          margin: 0 10px;
          border-bottom: 1px solid #e6e4df;
          padding: 8px 0 8px 0;
          
          .bookCovers {
            width: 52px;
            height: 70px;
            border: 1px solid rgb(207, 207, 207);
            float: left;
          }
          
          .bookDetails {
            margin: 0 4px;
            float: left;
            width: 180px;
            
            a {
              color: #1b769a;
              text-decoration: none;
            }
            .bookView {
              font-size: 0.8em;
              color: #9399ac;
            }
          }
        }
        .suggestBooks:last-child {
          border-bottom: none;
        }
      }

    }
  }
}

.pageGap {
  height: 50px;
  clear: both;
}

.lines {
  text-align: center;
}

#main-content {
  width: 900px;
  margin: auto;
  position: relative;
}

#contactUs-content {
  font-size: 20px;
  
  #wrapper {
    margin-top: 10px;
  }
}

#footer-content {
/*  position:absolute;*/
  bottom:0;
  width: 100%;
  background-color: #3a3a3a;
  clear: both;
  height: 50px;
  
  #wrapper {
    width: 900px;
    height: 100%;
    margin: auto;
    color: #fff;
    position: relative;
    
    #content {
      width: 100%;
      text-align: center;
    }
  }
}

.previewPanel {
  
  #title {
    margin: 10px 7px;
    font-size: 1.3em;
  }
  
  #backgroundPopup {
      z-index:1;
      position: fixed;
      display:none;
      height:100%;
      width:100%;
      background:#000000;
      top:0px;
      left:0px;
  }
  #toPopup {
      font-family: "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
      background: none repeat scroll 0 0 #FFFFFF;
      border: 10px solid #ccc;
      border-radius: 3px 3px 3px 3px;
      color: #333333;
      display: none;
      font-size: 18px;
      left: 50%;
      margin-left: -402px;
      position: fixed;
      top: 20%;
      width: 800px;
      z-index: 2;
  }
  div.loader {
      background: url("/images/website/loading.gif") no-repeat scroll 0 0 transparent;
      height: 32px;
      width: 32px;
      display: none;
      z-index: 9999;
      top: 40%;
      left: 50%;
      position: absolute;
      margin-left: -10px;
  }
  div.close {
      background: url("/images/website/closebox.png") no-repeat scroll 0 0 transparent;
      cursor: pointer;
      height: 30px;
      position: absolute;
      right: -27px;
      top: -24px;
      width: 30px;
  }
  div#popup_content {
    margin: 4px 7px;
    overflow-y:scroll;
    height:500px;
    line-height: 120%;
    
    p {
      margin: 10px 0;
    }
  }
}